


body{
font-family : 'Open Sans', sans-serif;
color:#FFFFFF;
background-image :url("https://images.unsplash.com/photo-1503049555010-f8616ee8f0f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1185&q=80");
background-repeat: no-repeat;
background-size: 100%;
}
.clock {
  position: absolute;
  top: 0px;
  right:0px;
  color: #ffffff;
  font-size: 60px;
  font-family: "Comic-Sans", sans-serif;
  letter-spacing: 7px;
 
 


}
.greeting{
  position:absolute;
  top:100px;
  right:0px;
  font-size:60px;
  font-family: "Comic-Sans", sans-serif;

}





.container {
  width: 450px;
  height: 45px;
  background: white;
  border: 1px solid gray;
  border-radius: 20px;
}


.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

h2{
  align-self: center;
  font-size: 60px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 7px;
}
h1{
  font-family: "Open Sans", sans-serif;
  vertical-align: middle

}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2.2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

input[type="radio"] {
  margin-top: -1px;
  vertical-align: middle;
}
label{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
   
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.ghost-button-transition {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button-transition:hover,
.ghost-button-transition:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

.app-container {
  --app-container-transition: opacity 0.5s ease;
  display: inline-block;
  transition: var(--app-container-transition);
  -moz-user-select: none;
  user-select: none;
}
a.btn,.btn {
  margin-right: 1em; /* remove this while use*/
  margin-bottom: 1em; /* remove this while use*/
	display: inline-block;
	outline: none;
  *zoom: 1;
  text-decoration: none;
  vertical-align:middle;  
	font-family: inherit;
	font-weight: 300;
	letter-spacing: 1px;
  border: 0px solid;
	transition: all 0.2s ease;
	box-sizing: border-box;
  text-shadow: 0 1px 0 rgba(0,0,0,0.01);
  
}
.btn-radius {
  border-radius: 3px;
}
.btn-gray {
	color: #808080;
	border-color: #808080;
}
.btn-small {
	font-size: 0.8125em;
	padding: 0.4125em 1.25em;
} 



